.indexLetter {
    color: orange
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #faac25
}

.navbar-nav>li a {
    font-size: 18px;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: #faac25;
}

.carousel-indicators li.active {
    background-color: orange
}

.thumbnail .over-lay .square {
    color: #faac25;
}

.services .thumbnail .item:hover {
    border: 4px solid #faac25;
}

.thumbnail .item:hover .over-lay .square {
    border: 1px solid #faac25;
}

.thumbnail .item:hover .over-lay .square a {
    color: #faac25;
}

.thumbnail .item .over-lay .square:hover a {
    color: white;
}

.thumbnail .item .over-lay .square:hover {
    border-color: white
}

.border-before,
.border-after {
    background-color: #faac25;
}

.border-bottom {
    background-color: #faac25;
}

.testimonials span {
    color: #faac25;
}

.ContactUs i {
    color: orange;
}

.border {
    background-color: orange;
}

.social .row>div>a.icon {
    border: 1px solid orange;
    color: #faac25;
}

.social .row>div>a.icon i {
    color: orange;
}

.social .row>div:hover a span {
    color: orange;
}

.Gallery .thumbnail .over-lay .square:hover {
    background-color: orange;
}

.ourStory .undoBackground {
    background: repeating-linear-gradient( 45deg, orangered, orange 200px);
}

.ourStory .carousel-indicators li,
.ourStory .carousel-indicators li.active {
    border: 2px solid orange;
}

.ourStory .carousel-indicators li.active {
    background-color: transparent;
    border: 1px solid #676767
}

.breadcrumb {
    background-color: #faac25
}

.collection {
    color: orange
}

.page:last-child {
    background: linear-gradient(to right bottom, orange, orangered)
}

.clipping {
    background: repeating-linear-gradient(to left, rgb(248, 246, 242), rgb(135, 118, 87) 10px, rgb(238, 129, 89) 10px);
}

.scroll-to-top {
    background-color: #faac25;
}

.optionbox .fa-palette {
    color: orange;
}

.social .row ul li:hover a {
    border-color: #faac25;
    background: #faac25;
}

.BlogDetail .aside .category li i {
    color: #faac25;
}

.BlogDetail .aside .category h3 {
    color: #faac25
}

.BlogDetail .tags .tag,
.social.tagIcons .row ul li a.icon {
    border: 2px solid rgb(250, 187, 158);
    color: #faac25
}

.BlogDetail .tags .tag:hover {
    background-color: #faac25
}

.BlogDetail .tags .tag a,
.BlogDetail .Detail a {
    color: #faac25
}

.BlogDetail .Detail h2 {
    background: repeating-linear-gradient(to bottom, #faac25, orangered, rgb(250, 187, 158) 50px);
}

.BlogDetail .Detail .imageDetail .admin {
    color: #faac25
}

.BlogDetail .aside .category li {
    border-color: #faac25
}

.latestPost {
    color: #faac25
}

.tagIcons {
    border-bottom: .5px solid #faac25
}

.BlogDetail li .div {
    background: repeating-linear-gradient(to left bottom, #faac25, orangered 2px);
}

.social.tagIcons .row ul li:hover a.icon i {
    color: #fff
}

.hvr-shutter-out-horizontal:before {
    background-color: orange;
}

.breadcrumb {
    background-color: orange
}

.popup .inner button {
    border: 1px solid #ccc;
    color: #fff;
    background-color: orange;
}

.popup p {
    color: orange;
}

.social li a:last-of-type:hover {
    background-color: #fff;
    color: orange;
}

.social .row ul li a.icon {
    color: orange
}

.social .row ul li a.icon:hover i {
    color: white
}

.social .row ul li:hover a:nth-of-type(2) {
    color: orange;
    background-color: white
}

.social .row ul li:hover a:first-of-type i {
    color: white;
}

.services .thumbnail .item:hover {
    border: 4px solid #faac25;
}

.social .row ul li a.icon {
    border: 2px solid rgb(250, 187, 158);
}