.indexLetter {
    color: #5cb85c
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    background-color: rgb(92, 184, 92)
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: rgb(92, 184, 92);
}

.carousel-indicators li.active {
    background-color: #5cb85c
}

.thumbnail .over-lay .square {
    color: rgb(92, 184, 92);
}

.thumbnail .item:hover {
    border: 4px solid rgb(92, 184, 92);
}

.thumbnail .item:hover .over-lay .square {
    border: 1px solid rgb(92, 184, 92);
}

.thumbnail .item:hover .over-lay .square a {
    color: rgb(92, 184, 92);
}

.border-before,
.border-after {
    background-color: rgb(92, 184, 92);
}

.border-bottom {
    background-color: rgb(92, 184, 92);
}

.testimonials span {
    color: rgb(92, 184, 92);
}

.ContactUs i {
    color: rgb(92, 184, 92);
}

.btn {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn:hover {
    background-color: #449d44;
    border-color: #398439;
}

.border {
    background-color: rgb(92, 184, 92);
}

.social .row>div>a.icon {
    border: 1px solid rgb(92, 184, 92);
    color: rgb(92, 184, 92);
}

.social .row>div>a.icon i {
    color: rgb(92, 184, 92);
}

.social .row>div:hover a span {
    color: rgb(92, 184, 92);
}

.victor {
    margin-top: 40px;
    height: 450px
}

.Gallery .thumbnail .over-lay .square:hover {
    background-color: rgb(92, 184, 92);
}

.ourStory .undoBackground {
    background: repeating-linear-gradient( 45deg, #398439, rgb(168, 218, 168) 200px);
}

.collection {
    color: rgb(92, 184, 92);
}

.ourStory .carousel-indicators li,
.ourStory .carousel-indicators li.active {
    border: 2px solid rgb(92, 184, 92);
}

.breadcrumb {
    background-color: rgb(92, 184, 92)
}

.page:last-child {
    background: rgb(92, 184, 92);
}

.clipping {
    background: rgb(92, 184, 92);
}

.scroll-to-top {
    background-color: rgb(92, 184, 92);
}

.optionbox .fa-palette {
    color: rgb(92, 184, 92);
}

.ourStory .carousel-indicators li.active {
    background-color: transparent;
    border: 1px solid #676767
}

.testimonials .carousel-indicators li.active {
    border: 2px solid #fff
}

.thumbnail .item .over-lay .square:hover a {
    color: white;
}

.thumbnail .item .over-lay .square:hover {
    border-color: white
}

.progress-bar-warning {
    background: #5cb85c;
}

.skills .progress .progress-bar {
    font-size: 20px;
    color: #fff;
}