.indexLetter {
    color: #5cb85c
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    background-color: rgb(92, 184, 92)
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: rgb(92, 184, 92);
}

.carousel-indicators li.active {
    background-color: #5cb85c
}

.thumbnail .over-lay .square {
    color: rgb(92, 184, 92);
}

.services .thumbnail .item:hover {
    border: 4px solid rgb(92, 184, 92);
}

.thumbnail .item:hover .over-lay .square {
    border: 1px solid rgb(92, 184, 92);
}

.thumbnail .item:hover .over-lay .square a {
    color: rgb(92, 184, 92);
}

.border-before,
.border-after {
    background-color: rgb(92, 184, 92);
}

.border-bottom {
    background-color: rgb(92, 184, 92);
}

.testimonials span {
    color: rgb(92, 184, 92);
}

.ContactUs i {
    color: rgb(92, 184, 92);
}

.btn {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn:hover {
    background-color: #449d44;
    border-color: #398439;
}

.border {
    background-color: rgb(92, 184, 92);
}

.social .row>div>a.icon {
    border: 1px solid rgb(92, 184, 92);
    color: rgb(92, 184, 92);
}

.social .row>div>a.icon i {
    color: rgb(92, 184, 92);
}

.social .row>div:hover a span {
    color: rgb(92, 184, 92);
}

.victor {
    margin-top: 40px;
    height: 450px
}

.Gallery .thumbnail .over-lay .square:hover {
    background-color: rgb(92, 184, 92);
}

.ourStory .undoBackground {
    background: repeating-linear-gradient( 45deg, #398439, rgb(168, 218, 168) 200px);
}

.collection {
    color: rgb(92, 184, 92);
}

.ourStory .carousel-indicators li,
.ourStory .carousel-indicators li.active {
    border: 2px solid rgb(92, 184, 92);
}

.breadcrumb {
    background-color: rgb(92, 184, 92)
}

.page:last-child {
    background: rgb(92, 184, 92);
}

.clipping {
    background: rgb(92, 184, 92);
}

.scroll-to-top {
    background-color: rgb(92, 184, 92);
}

.optionbox .fa-palette {
    color: rgb(92, 184, 92);
}

.ourStory .carousel-indicators li.active {
    background-color: transparent;
    border: 1px solid #676767
}

.testimonials .carousel-indicators li.active {
    border: 2px solid #fff
}

.thumbnail .item .over-lay .square:hover a {
    color: white;
}

.thumbnail .item .over-lay .square:hover {
    border-color: white
}

.progress-bar-warning {
    background: #5cb85c;
}

.skills .progress .progress-bar {
    font-size: 20px;
    color: #fff;
}

.social .row ul li:hover a {
    border-color: rgb(92, 184, 92);
    background: rgb(92, 184, 92)
}

.BlogDetail .aside .category li i {
    color: rgb(92, 184, 92);
}

.BlogDetail .aside .category h3 {
    color: rgb(92, 184, 92)
}

.BlogDetail .tags .tag,
.social.tagIcons .row ul li a.icon {
    border: 2px solid rgb(168, 218, 168);
    color: rgb(92, 184, 92);
}

.BlogDetail .tags .tag:hover {
    background-color: rgb(92, 184, 92);
}

.BlogDetail .tags .tag a,
.BlogDetail .Detail a {
    color: rgb(92, 184, 92)
}

.BlogDetail .Detail h2 {
    background: repeating-linear-gradient(to bottom, rgb(92, 184, 92), #398439, rgb(168, 218, 168) 50px);
}

.BlogDetail .Detail .imageDetail .admin {
    color: rgb(92, 184, 92);
}

.BlogDetail .aside .category li {
    border-color: rgb(92, 184, 92);
}

.latestPost {
    color: rgb(92, 184, 92);
}

.tagIcons {
    border-bottom: .5px solid rgb(92, 184, 92);
}

.BlogDetail li .div {
    background: repeating-linear-gradient(to left bottom, rgb(92, 184, 92), #398439 2px);
}

.Detail .date {
    color: rgb(92, 184, 92);
}

.hvr-shutter-out-horizontal:before {
    background-color: rgb(92, 184, 92);
}

.popup p {
    color: rgb(92, 184, 92);
}

.social li a:last-of-type:hover {
    background-color: #fff;
    color: rgb(92, 184, 92);
}

.social .row ul li a.icon {
    color: rgb(92, 184, 92);
}

.social .row ul li a.icon:hover i {
    color: white
}

.social .row ul li:hover a:nth-of-type(2) {
    color: rgb(92, 184, 92);
    background-color: white
}

.popup .inner button {
    border: 1px solid #ccc;
    color: #fff;
    background-color: rgb(92, 184, 92);
}

.social .row ul li a.icon {
    border: 2px solid rgb(168, 218, 168)
}

.social .row ul li:hover a.icon {
    color: #fff;
    border-color: rgb(92, 184, 92);
    background: rgb(92, 184, 92);
}

.btn-warning {
    background: rgb(92, 184, 92);
}

.btn-warning:hover {
    background: #398439
}

.btn-warning:active,
.btn-warning.active,
.open>.dropdown-toggle.btn-warning {
    color: #fff;
    background-color: rgb(92, 184, 92);
    border-color: #398439
}

.btn-warning:active:hover,
.btn-warning.active:hover,
.open>.dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open>.dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open>.dropdown-toggle.btn-warning.focus {
    color: #fff;
    background-color: rgb(92, 184, 92);
    border-color: #398439
}