body {
    font-size: 16px;
    font-family: 'Amiri', serif;
}

.navbar-brand {
    font-family: 'Rakkas', cursive;
    font-size: 38px;
}

.navbar-inverse {}

.navbar {
    border-radius: 0px;
}

.navbar-brand {
    overflow: hidden;
}

.navbar-brand img {
    float: right;
    padding: 0px;
    margin-top: -15px
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #faac25
}

.dropdown-menu {
    background-color: #222;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    color: #9d9d9d
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #faac25;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    color: #9d9d9d;
    text-decoration: none;
    background-color: #337ab7;
    outline: 0;
}

.navbar {
    margin-bottom: 0px
}

img {
    width: 100%;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, .45);
    height: 22%;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center
}

.carousel-caption p:first-of-type {
    font-size: 30px;
}

.services {
    margin-top: 50px
}

.services .thumbnail .item img {
    width: 100%;
    height: 100%;
    border-radius: 250px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.services .thumbnail {
    border: 0px;
    margin-right: auto;
    margin-left: auto;
}

.services .thumbnail h3 {
    margin-right: 27%;
}

.services .thumbnail p {
    text-align: center;
    margin: 20px auto;
    color: #676767;
    justify-content: justify;
}

.services .thumbnail .btn {
    margin-right: -25%
}

.services .thumbnail .item .over-lay {
    background-color: rgba(10, 10, 10, 0.0);
    width: 260px;
    height: 250px;
    border-radius: 250px;
    position: absolute;
    z-index: 88;
    left: 0;
    right: 0px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    transition: all 1s ease-in-out;
}

.services .thumbnail .over-lay .square {
    width: 48px;
    height: 46px;
    position: absolute;
    left: 39%;
    top: 45%;
    border: 1px solid transparent;
    text-align: center;
    z-index: 99;
    font-size: 40px;
    color: #faac25;
    transform: rotate(133deg);
    transition: all 1s ease-in-out;
}

.services .thumbnail .over-lay .square a {
    transform: rotate(317deg);
    display: inline-block;
    margin: -4px;
    cursor: pointer;
    color: transparent;
    text-decoration: none;
    transition: all 1s ease-in-out;
}

.services .thumbnail .item {
    width: 269px;
    height: 259px;
    border-radius: 250px;
    position: relative;
    border: 4px solid white;
    transition: all 1s ease-in-out;
}

.services .thumbnail .item:hover {
    border: 4px solid #faac25;
}

.services .thumbnail .item:hover .over-lay {
    display: block;
    background-color: rgba(0, 0, 0, .45);
}

.services .thumbnail .item:hover .over-lay .square {
    border: 1px solid #faac25;
}

.services .thumbnail .item:hover .over-lay .square a {
    color: #faac25;
}

.servicse .thumbnail .item .over-lay .square:hover a {
    color: white
}

.servicses .thumbnail .item .over-lay .square:hover {
    border-color: white
}

h2 {
    text-align: center;
}

.border-before,
.border-after {
    display: inline-block;
    background-color: #faac25;
    height: 5px;
    width: 400px;
    margin-top: 20px
}

.border-before {
    float: left;
    margin-left: 100px
}

.border-after {
    float: right;
    margin-right: 100px
}

@media (max-width:767px) {
    .carousel-caption {
        background-color: rgba(0, 0, 0, .15);
        height: 80%;
        text-align: center;
        padding: 10px
    }
    .carousel-caption p:first-of-type {
        font-size: 24px;
    }
    .border-before,
    .border-after {
        width: 90px;
    }
    .border-before {
        float: left;
        margin-left: 10px
    }
    .border-after {
        float: right;
        margin-right: 10px
    }
}

@media (min-width:767px) and (max-width:996px) {
    .border-before,
    .border-after {
        width: 300px;
    }
    .border-before {
        float: left;
        margin-left: 50px
    }
    .border-after {
        float: right;
        margin-right: 50px
    }
}

@media (min-width:996px) and (max-width:1200px) {
    .border-before,
    .border-after {
        width: 300px;
    }
    .border-before {
        float: left;
        margin-left: 20px
    }
    .border-after {
        float: right;
        margin-right: 20px
    }
}

.border-bottom {
    margin-bottom: 10px;
    width: 300px;
    background-color: #faac25;
    height: 5px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
    margin-top: 20px;
}

.quality {
    margin-top: 100px
}

.quality .item1 {
    position: relative;
    z-index: 1;
    right: -50px
}

.quality .item2 {
    position: relative;
    top: -160px;
    z-index: 5;
}

.quality .col-lg-5 .border-bottom {
    margin-right: 0px;
    margin-bottom: 40px;
}

.quality p {
    line-height: 4rem;
    font-size: 20px;
}

.quality h3 {
    font-size: 30px;
}

.quality .btn {
    width: 200px;
    text-align: center;
    margin: 50px auto;
    font-size: 20px;
}

.products .btn {
    width: 250px
}

.testimonials {
    overflow: hidden;
    background: url('../images/tie-690084_1280.jpg') no-repeat fixed 50%;
    width: 100%;
    height: 450px;
    background-size: cover;
    color: #fff
}

.clients {
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    padding: 0px;
    margin-top: -20px
}

.testimonials h2 {
    padding-top: 80px
}

.testimonials p {
    line-height: 2em/*32px*/
}

.testimonials span {
    font-size: 24px;
    font-weight: bold;
    color: #faac25
}

.testimonials .carousel-indicators {
    position: static;
    width: 100%;
    margin-left: auto;
    padding-top: 20px;
    margin-top: 10px;
}

.testimonials .carousel-indicators li {
    text-indent: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    opacity: .4;
    margin: 5px;
    transition: all .5s ease;
}

.testimonials .carousel-indicators li.active {
    opacity: 1;
    background: none;
    border-radius: 50%;
}

.testimonials .carousel-indicators li img {
    max-width: 100%;
    border-radius: 50%;
}

.whyus .border-bottom {
    margin-bottom: 15px;
}

.whyus>p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 140px;
}

.whyus h2 {
    margin-top: 50px
}

.whyus .thumbnail .item img {
    border-radius: 0px;
    width: 150px;
    height: 170px;
    margin-right: 40px;
}

.whyus .thumbnail {
    border: 0px;
    text-align: center
}

.whyus p {
    color: #676767
}

.products .thumbnail p {
    color: #676767
}

.AboutZenHouse .about,
.ContactUs .map {
    flex: 1 auto;
    height: 100%;
    margin-bottom: 2%;
}

.ContactUs .map iframe {
    height: 400px;
    margin-top: 13%;
}

.AboutZenHouse h2,
.ContactUs h2 {
    color: rgb(47, 46, 46);
    text-align: right;
    margin-bottom: 7%;
}

.AboutZenHouse .ourSkills,
.ContactUs .contactForm {
    height: 400px
}

.ContactUs .contactForm input,
.ContactUs .contactForm textarea,
.Reply form input,
.Reply form textarea {
    width: 100%;
    padding: .6rem;
    border: .1px solid rgb(223, 222, 222);
}

.ContactUs .contactForm input,
.BlogDetail .Detail .Reply input {
    margin-bottom: 6%;
}

.ContactUs .contactForm input[ placeholder="Name"],
.Reply form input[ placeholder="Name"] {
    width: 49%;
}

.ContactUs .contactForm input[placeholder="Email"],
.Reply form input[placeholder="Email"] {
    width: 49%;
}

.ContactUs .contactForm button,
.BlogDetail .Detail .Reply button {
    width: 100%;
    height: 100%;
    background: rgb(243, 195, 35);
    border: none;
    padding: .6rem;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    transition: background .7s ease-out;
}

@media (min-width:17px) and (max-width:767px) {
    .ContactUs .contactForm input[ placeholder="Name"],
    .Reply form input[ placeholder="Name"] {
        width: 100%;
    }
    .ContactUs .contactForm input[placeholder="Email"],
    .Reply form input[placeholder="Email"] {
        width: 100%
    }
    .partnerSlider .companyItems li {
        width: 100%
    }
}

.ContactUs .contactForm button:hover {
    background: rgb(226, 183, 64);
    color: rgb(1, 7, 29);
    height: 50px
}

.ContactUs .contactForm button {
    margin-top: 30px;
    height: 50px;
}

.AboutZenHouse .about,
.ContactUs .map {
    height: 400px
}

.contactUs>h2 {
    text-align: center;
    margin-bottom: 2px
}

.contactUs {
    margin-bottom: 190px
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
    width: 100%;
    height: 50px;
    padding-top: 10px;
}