    body {
        font-size: 16px;
        font-family: 'Amiri', serif;
        overflow: hidden
    }
    
    .navbar-brand {
        font-family: 'Rakkas', cursive;
        font-size: 38px;
    }
    
    .navbar {
        border-radius: 0px;
    }
    
    .navbar-brand {
        overflow: hidden;
    }
    
    .navbar-brand img {
        float: right;
        padding: 0px;
        margin-top: -15px
    }
    
    .navbar-inverse .navbar-nav>.active>a,
    .navbar-inverse .navbar-nav>.active>a:hover,
    .navbar-inverse .navbar-nav>.active>a:focus {
        background-color: #faac25
    }
    
    .navbar-nav>li a {
        font-size: 18px;
    }
    
    .dropdown-menu {
        background-color: #222;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }
    
    .dropdown-menu.pull-right {
        right: 0;
        left: auto;
    }
    
    .dropdown-menu .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }
    
    .dropdown-menu>li>a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: rgb(255, 255, 255);
        white-space: nowrap;
        color: #9d9d9d
    }
    
    .dropdown-menu>li>a:hover,
    .dropdown-menu>li>a:focus {
        color: #fff;
        text-decoration: none;
        background-color: #faac25;
    }
    
    .dropdown-menu>.active>a,
    .dropdown-menu>.active>a:hover,
    .dropdown-menu>.active>a:focus {
        color: #9d9d9d;
        text-decoration: none;
        background-color: #337ab7;
        outline: 0;
    }
    
    .navbar {
        margin-bottom: 0px
    }
    
    img {
        width: 100%;
    }
    
    .carousel-indicators {
        left: 53%;
        padding-right: 10px;
    }
    
    .carousel-caption {
        background-color: rgba(0, 0, 0, 0.666);
        height: 22%;
        text-align: center;
        padding: 10px;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        flex-direction: column;
        justify-content: center
    }
    
    .carousel-caption p:first-of-type {
        font-size: 30px;
    }
    
    .carousel-indicators li,
    .carousel-indicators li.active {
        border-radius: 0px;
        height: 1px;
        width: 60px;
        margin: 0px;
        height: 4px;
        background-color: white;
        border: none;
        margin-left: -5px
    }
    
    .carousel-indicators li.active {
        background-color: orange
    }
    
    .services {
        margin-top: 50px
    }
    
    .thumbnail .item img {
        width: 100%;
        height: 100%;
        border-radius: 250px;
        position: relative;
        margin-right: auto;
        margin-left: auto;
    }
    
    .thumbnail {
        border: 0px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .thumbnail h3 {
        text-align: center;
    }
    
    .thumbnail p {
        text-align: center;
        margin: 18px auto;
        color: #676767;
        justify-content: justify;
        line-height: 1.7em
    }
    
    .thumbnail .btn {
        margin: 2px auto
    }
    
    .thumbnail .item .over-lay {
        background-color: rgba(10, 10, 10, 0.0);
        width: 260px;
        height: 250px;
        border-radius: 250px;
        position: absolute;
        z-index: 88;
        left: 0;
        right: 0px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        transition: all 1s ease-in-out;
    }
    
    .thumbnail .over-lay .square {
        width: 48px;
        height: 46px;
        position: absolute;
        left: 39%;
        top: 45%;
        border: 1px solid transparent;
        text-align: center;
        z-index: 99;
        font-size: 40px;
        color: #faac25;
        transform: rotate(133deg);
        transition: all 1s ease-in-out;
    }
    
    .thumbnail .over-lay .square a {
        transform: rotate(317deg);
        display: inline-block;
        margin: -4px;
        cursor: pointer;
        color: transparent;
        text-decoration: none;
        transition: all 1s ease-in-out;
    }
    
    .thumbnail .item {
        width: 269px;
        height: 259px;
        border-radius: 250px;
        position: relative;
        border: 4px solid white;
        transition: all 1s ease-in-out;
        margin: 1px auto;
    }
    
    .thumbnail .item:hover {
        border: 4px solid #faac25;
    }
    
    .thumbnail .item:hover .over-lay {
        display: block;
        background-color: rgba(0, 0, 0, .45);
    }
    
    .thumbnail .item:hover .over-lay .square {
        border: 1px solid #faac25;
    }
    
    .thumbnail .item:hover .over-lay .square a {
        color: #faac25;
    }
    
    .thumbnail .item .over-lay .square:hover a {
        color: white;
    }
    
    .thumbnail .item .over-lay .square:hover {
        border-color: white
    }
    
    h2 {
        text-align: center;
    }
    
    .border-before,
    .border-after {
        display: inline-block;
        background-color: #faac25;
        height: 5px;
        width: 400px;
        margin-top: 20px
    }
    
    .border-before {
        float: left;
        margin-left: 100px
    }
    
    .border-after {
        float: right;
        margin-right: 100px
    }
    
    .carousel-caption p {
        margin: 10px auto;
    }
    
    .carousel-caption p:nth-of-type(2n) {
        border-bottom: 5px solid #000;
        border-radius: 10px;
    }
    
    .carousel-caption .btn {
        font-size: 27px !important;
        width: 400px !important;
        padding: 5px
    }
    
    .border-bottom {
        margin-bottom: 10px;
        width: 300px;
        background-color: #faac25;
        height: 5px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
        margin-top: 20px;
    }
    
    .quality {
        margin-top: 30px
    }
    
    .quality .item1 {
        position: relative;
        z-index: 1;
        right: -50px
    }
    
    .quality .item2 {
        position: relative;
        top: -160px;
        z-index: 5;
    }
    
    .quality .col-lg-5 .border-bottom {
        margin-right: 0px;
        margin-bottom: 40px;
    }
    
    .quality p {
        line-height: 4rem;
        font-size: 18px;
        color: #676767
    }
    
    .quality h3 {
        font-size: 30px;
        margin-top: -10px
    }
    
    .quality .btn {
        width: 200px;
        text-align: center;
        margin: 50px auto;
        font-size: 20px;
    }
    
    .products .btn {
        width: 250px
    }
    
    .testimonials,
    .latestCollections {
        overflow: hidden;
        background: url('../images/tie-690084_1280.jpg') no-repeat fixed 50%;
        width: 100%;
        height: 450px;
        background-size: cover;
        color: #fff;
    }
    
    .latestCollections {
        overflow: hidden;
        background: url('../images/classy-man-tailor-shop.jpg') no-repeat fixed 50%;
        width: 100%;
        height: 250px;
        background-size: cover;
    }
    
    .latestCollections .clients {
        margin-top: 0px;
    }
    
    .clients {
        background: rgba(0, 0, 0, .5);
        width: 100%;
        height: 100%;
        margin-top: -20px;
        padding: 0px;
    }
    
    .testimonials h2 {
        padding-top: 43px
    }
    
    .testimonials p {
        line-height: 2em/*32px*/
        ;
        height: 30px
    }
    
    .testimonials span {
        font-size: 24px;
        font-weight: bold;
        color: #faac25;
        padding-top: 10px;
        display: inline-block;
        margin-top: 10px;
    }
    
    .testimonials .carousel-indicators {
        position: static;
        width: 100%;
        margin-left: auto;
        padding-top: 20px;
        margin-top: 10px;
    }
    
    .testimonials .carousel-indicators li {
        text-indent: 0;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        opacity: .4;
        margin: 5px;
        transition: all .5s ease;
    }
    
    .testimonials .carousel-indicators li.active {
        opacity: 1;
        background: none;
        border-radius: 50%;
        border: 2px solid #fff
    }
    
    .testimonials .carousel-indicators li img {
        max-width: 100%;
        border-radius: 50%;
    }
    
    .whyus .border-bottom {
        margin-bottom: 15px;
    }
    
    .whyus>p {
        text-align: center;
        font-size: 18px;
        margin-bottom: 100px;
    }
    
    .whyus h2 {
        margin-top: 50px
    }
    
    .whyus .thumbnail .item img {
        border-radius: 0px;
        width: 150px;
        height: 140px;
    }
    
    .whyus .thumbnail {
        border: 0px;
        text-align: center
    }
    
    .whyus p {
        color: #676767
    }
    
    .products .thumbnail p {
        color: #676767
    }
    
    .ContactUs .map iframe {
        height: 400px;
    }
    
    .ContactUs h2 {
        color: rgb(47, 46, 46);
    }
    
    .ContactUs .contactForm {
        height: 400px
    }
    
    .ContactUs .contactForm input,
    .ContactUs .contactForm textarea,
    .Reply form input,
    .Reply form textarea {
        padding: 1rem;
        border: .1px solid rgb(223, 222, 222);
    }
    
    .ContactUs .contactForm input {
        margin-bottom: 3%;
    }
    
    .ContactUs .contactForm button {
        padding: .6rem;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        transition: background .7s ease-out;
        border: none
    }
    
    .ContactUs .contactForm button {
        margin-top: 30px;
        height: 50px;
    }
    
    .ContactUs .map {
        height: 400px
    }
    
    .img {
        height: 400px;
    }
    
    .img img {
        height: 100%;
    }
    
    .contactUs p {
        line-height: 2em;
        margin-bottom: 10px;
        font-size: 18px;
        display: inline-block;
        padding-right: 5px;
        color: #676767;
        margin-top: 10px
    }
    
    .time p {
        display: inline
    }
    
    .contactUs i {
        color: orange;
        font-size: 20px;
    }
    
    .phoneNumber p {
        text-align: left;
        direction: ltr;
    }
    
    footer {
        background-color: black;
        color: white;
        text-align: center;
        position: relative;
        width: 100%;
        height: 50px;
        padding-top: 10px;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    
    .border {
        height: .5px;
        background-color: orange;
        margin: 60px auto
    }
    
    .social .row>div {
        margin-bottom: 20px
    }
    
    .social .row>div>a.icon {
        width: 50px;
        height: 50px;
        position: static;
        left: 39%;
        display: block;
        top: 45%;
        border: 1px solid orange;
        text-align: center;
        z-index: 99;
        font-size: 20px;
        color: #faac25;
        transform: rotate(153deg);
        transition: all 1s ease-in-out;
        padding: 10px;
        transform: rotate(317deg);
        display: inline-block;
        cursor: pointer;
        margin-left: 10px;
    }
    
    .social .row>div>a.icon i {
        color: orange;
        text-decoration: none;
        transition: all 1s ease-in-out;
        transform: rotate(42deg);
        padding-left: 5px
    }
    
    .social .row>div a:nth-of-type(2) {
        color: #676767
    }
    
    .social .row>div a span {
        transform: rotate(360deg);
        display: inline-block;
        padding-right: 10px;
        font-size: 18px;
        padding-top: 30px;
        transition: all 1s ease-in-out;
    }
    
    .social .row>div:hover a span {
        color: orange;
        cursor: pointer;
    }
    
    .contactUs .contactForm h2 {
        margin-bottom: 50px;
        margin-top: 0px;
        margin-right: 0px
    }
    
    .contactForm {
        margin-bottom: 100px;
        margin-top: 60px;
    }
    
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }
    
    .victor {
        margin-top: 40px;
        height: 450px
    }
    
    .victor img {
        height: 100%
    }
    
    .Gallery {
        margin-top: 20px
    }
    
    .Gallery .row>div {
        margin-bottom: 10px;
    }
    
    .products .thumbnail .item img,
    .Gallery .thumbnail .item img {
        border-radius: 0px;
        width: 100%;
    }
    
    .whyus .thumbnail .item img {
        border-radius: 0px
    }
    
    .Gallery .thumbnail .item .over-lay,
    .products .thumbnail .item .over-lay {
        width: 100%;
        border-radius: 0px;
        position: absolute;
        height: 100%
    }
    
    .whyus .thumbnail .item,
    .products .thumbnail .item,
    .Gallery .thumbnail .item {
        width: 100%;
        border-radius: 0px;
        position: relative;
        border: 0px;
        transition: background 1s ease-in-out;
        margin: 1px auto;
    }
    
    .whyus .thumbnail .item {
        height: auto;
    }
    
    .Gallery .thumbnail .item:hover {
        border: 0px
    }
    
    .Gallery .thumbnail .over-lay .square {
        left: 43%;
    }
    
    .Gallery .thumbnail .over-lay .square:hover {
        background-color: orange;
    }
    
    button a {
        display: inline-block;
        width: 100%;
        height: 100%;
        color: #fff;
        text-decoration: none;
        font-size: 18px;
    }
    
    button:hover a {
        text-decoration: none;
        color: #fff
    }
    
    .latestCollections .btn-warning {
        margin: auto auto;
        width: 300px;
        padding: 13px;
        font-size: 25px;
        margin: 20% auto;
        line-height: 2rem
    }
    
    .latestCollections .row div:first-of-type {
        margin: 50px auto
    }
    
    .latestCollections p {
        margin-top: 20px;
        font-size: 18px;
    }
    
    .ourStory {
        margin: 50px auto;
    }
    
    .ourStory .carousel-indicators {
        position: relative;
        left: 2%;
        width: 100%;
        margin: 30px auto;
    }
    
    .ourStory .undo-background {
        background: repeating-linear-gradient( 45deg, orangered, orange 200px);
        width: 100%;
        height: 30%;
        position: relative;
    }
    
    .ourStory img {
        position: absolute;
        left: 50px;
        z-index: 100;
        top: 30px;
        margin-bottom: 80px;
    }
    
    .ourStory .carousel-indicators li,
    .ourStory .carousel-indicators li.active {
        border-radius: 0px;
        height: 20px;
        width: 20px;
        margin: 0px;
        border: 2px solid orange;
        margin-right: 20px;
        transform: rotate(140deg);
        transition: all 1s ease-in-out;
        position: relative;
    }
    
    .ourStory .carousel-indicators li:first-of-type {
        margin-right: 0px;
    }
    
    .ourStory .carousel-indicators li.active {
        background-color: transparent;
        border: 1px solid #676767
    }
    
    .ourStory .carousel-indicators li span {
        transform: rotate(91deg);
        display: block;
        width: 6px;
        height: 6px;
        margin-right: 6px;
        margin-top: 5px;
        background-color: transparent;
        transition: all 1s ease-in-out;
    }
    
    .ourStory .carousel-indicators li.active span {
        background-color: rgb(0, 0, 0)
    }
    
    .skills {
        margin-top: 100px
    }
    
    .skills .progress .progress-bar {
        margin-bottom: 20px;
        padding: 5px;
        height: auto;
    }
    
    .skills .progress {
        height: 40px
    }
    
    .skills .progress .progress-bar {
        font-size: 20px;
        color: rgb(21, 4, 59)
    }
    
    .breadcrumb {
        background-color: #faac25
    }
    
    .breadcrumb a {
        color: #fff
    }
    
    .ourStory h2 {
        margin-top: 120px;
    }
    
    .ourStory p {
        color: #676767;
        line-height: 2.5em;
    }
    
    .quality h3 {
        margin-top: 60px;
    }
    
    .quality p {
        line-height: 2.5em;
    }
    
    html,
    body {
        width: 100%;
        height: 100%;
    }
    
    .scissors {
        position: absolute;
        top: calc(50% - 59px);
        left: calc(50% - 52px);
    }
    
    .part {
        position: absolute;
    }
    
    .part:first-child {
        transform: rotateZ(30deg);
        -webkit-animation: move-cut-top 0.6s linear infinite;
        animation: move-cut-top 0.6s linear infinite;
        z-index: 9;
    }
    
    .part:last-child {
        top: 115px;
        transform: rotateX(180deg) rotateZ(30deg);
        -webkit-animation: move-cut-bottom 0.6s linear infinite;
        animation: move-cut-bottom 0.6s linear infinite;
        z-index: 999;
    }
    
    .hilt {
        position: absolute;
        top: 0;
        width: 20px;
        height: 20px;
        border: 10px solid #000;
        border-radius: 100%;
    }
    
    .blade {
        position: absolute;
        top: 30px;
        left: 20px;
        width: 80px;
        height: 10px;
        background: #000;
        transform: skewX(150deg);
    }
    
    .wrap {
        position: relative;
        width: 100%;
        height: 100%;
    }
    
    .page {
        position: relative;
        float: left;
        top: 0;
        width: 50%;
        height: 100%;
        overflow: hidden;
    }
    
    .page:first-child {
        left: 0;
        background: tranparent;
    }
    
    .page:last-child {
        top: 0;
        left: 0;
        background: #ff6347;
        z-index: 99;
    }
    
    .clipping {
        position: absolute;
        width: calc(120% + 20px);
        height: 50%;
        left: -20%;
        background: #ff6347;
    }
    
    .clipping:first-child {
        top: 0;
        border-radius: 0 0 0 100%;
        -webkit-animation: move-clipping 0.6s linear infinite;
        animation: move-clipping 0.6s linear infinite;
    }
    
    .clipping:last-child {
        bottom: -1px;
        border-radius: 100% 0 0 0;
        z-index: 999;
        -webkit-animation: move-clipping 0.6s 0.5s infinite;
        animation: move-clipping 0.6s 0.5s infinite;
    }
    
    .line {
        position: absolute;
        width: 1500px;
        border-top: 3px dotted #000;
        -webkit-animation: move-line 15s linear infinite;
        animation: move-line 15s linear infinite;
        position: absolute;
        top: 50%;
        margin-top: -1.5px;
    }
    
    @-webkit-keyframes move-cut-top {
        50% {
            transform: rotateZ(5deg) translateY(15px);
        }
        100% {
            transform: rotateZ(30deg) translateY(0px);
        }
    }
    
    @keyframes move-cut-top {
        50% {
            transform: rotateZ(5deg) translateY(15px);
        }
        100% {
            transform: rotateZ(30deg) translateY(0px);
        }
    }
    
    @-webkit-keyframes move-cut-bottom {
        50% {
            transform: rotateX(180deg) rotateZ(5deg) translateY(20px);
        }
        100% {
            transform: rotateX(180deg) rotateZ(30deg) translateY(0);
        }
    }
    
    @keyframes move-cut-bottom {
        50% {
            transform: rotateX(180deg) rotateZ(5deg) translateY(20px);
        }
        100% {
            transform: rotateX(180deg) rotateZ(30deg) translateY(0);
        }
    }
    
    @-webkit-keyframes move-clipping {
        50% {
            transform: translateX(-20px);
        }
        100% {
            transform: translateX(0);
        }
    }
    
    @keyframes move-clipping {
        50% {
            transform: translateX(-20px);
        }
        100% {
            transform: translateX(0);
        }
    }
    
    @-webkit-keyframes move-line {
        100% {
            transform: translateX(-50%);
        }
    }
    
    @keyframes move-line {
        100% {
            transform: translateX(-50%);
        }
    }
    /*start section loading*/
    
    .loader {
        background: #222;
        color: white;
        position: fixed;
        /*absolut parent to this is body but fixed dont deal with body but deal with the full page*/
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 99999;
    }
    
    .scroll-to-top {
        width: 35px;
        height: 35px;
        line-height: 45px;
        font-size: 30px;
        text-align: center;
        color: #ddd;
        background-color: #faac25;
        position: fixed;
        left: 15px;
        bottom: 10px;
        z-index: 99999;
        cursor: pointer;
        display: none
    }
    
    footer {
        position: relative;
        z-index: 1;
    }
    
    .optionbox {
        position: relative;
        bottom: -60px;
        left: 0;
        z-index: 9999;
    }
    
    .optionbox .coloroption {
        background-color: rgb(15, 1, 1);
        color: white;
        padding: 10px;
        width: 200px;
        height: 100px;
        display: none;
        position: absolute;
        z-index: 9999;
        right: 0px;
        top: -100px;
    }
    
    .optionbox .coloroption ul li {
        width: 20px;
        height: 20px;
        background-color: red;
        display: inline-block;
        margin-right: 3px;
        cursor: pointer
    }
    
    .optionbox .fa-palette {
        color: white;
        padding: 10px;
        cursor: pointer;
        margin-left: 0px;
        font-size: 30px;
        color: orange;
        background-color: #fff;
        display: inline-block;
        position: relative;
        z-index: 999;
    }
    
    @media (max-width:767px) {
        .carousel-caption {
            height: 80%;
            text-align: center;
            padding: 10px
        }
        .carousel-caption p:first-of-type {
            font-size: 17px;
        }
        .border-before,
        .border-after {
            width: 90px;
        }
        .border-before {
            float: left;
            margin-left: 10px
        }
        .border-after {
            float: right;
            margin-right: 10px
        }
        .carousel-caption .btn {
            font-size: 18px !important;
            width: 140px !important;
            padding: 5px
        }
        .latestCollections .btn-warning {
            margin: auto auto;
            width: 300px;
            padding: 13px;
            font-size: 20px;
            margin: 5% auto;
            line-height: 2rem
        }
        .latestCollections .row div:first-of-type {
            margin: 10px auto
        }
        .quality h3 {
            font-size: 30px;
            margin-top: -91px;
        }
        .border-bottom {
            width: 150px
        }
        .testimonials .carousel-indicators {
            padding-left: 20px;
            padding-right: 10px;
        }
        .slider .carousel .carousel-indicators li,
        .slider .carousel-indicators li.active {
            border-radius: 0px;
            height: 1px;
            width: 40px;
            margin: 0px;
            height: 4px;
            border: none;
            margin-left: -5px
        }
        .carousel-caption {
            margin-bottom: 0px;
        }
        .ourStory .undo-background {
            background: repeating-linear-gradient( 45deg, orangered, orange 200px);
            width: 100%;
            height: 25%;
            position: relative;
        }
    }
    
    @media (min-width:767px) and (max-width:996px) {
        .border-before,
        .border-after {
            width: 300px;
        }
        .border-before {
            float: left;
            margin-left: 50px
        }
        .border-after {
            float: right;
            margin-right: 50px
        }
        .latestCollections .btn-warning {
            margin: auto auto;
            width: 300px;
            padding: 13px;
            font-size: 20px;
            margin: 5% auto;
            line-height: 2rem
        }
        .latestCollections .row div:first-of-type {
            margin: 10px auto
        }
        .quality h3 {
            font-size: 30px;
            margin-top: -91px;
        }
        .ourStory h2 {
            margin-top: 90px;
        }
        .carousel-caption {
            height: 52%;
            text-align: center;
        }
    }
    
    @media (min-width:996px) and (max-width:1200px) {
        .border-before,
        .border-after {
            width: 300px;
        }
        .border-before {
            float: left;
            margin-left: 20px
        }
        .border-after {
            float: right;
            margin-right: 20px
        }
        .ourStory h2 {
            margin-top: 50px;
        }
    }